---
import { Image } from 'astro:assets';
import Burger from '@/icons/burger.astro';
import Close from '@/icons/close.astro';
import Instagram from '@/icons/instagram.astro';
import LinkMenu from '@components/atoms/LinkMenu.astro';
import DropdownMenu from '@/components/molecules/DropdownMenu.astro';
import Email from '@/icons/email.astro';
import ButtonLink from '@components/atoms/ButtonLink.astro';
const currentPath = new URL(Astro.request.url).pathname;

const links = [
  //   { name: 'Servicios', href: '#Services' },
  { name: 'Sobre Nosotros', href: '/sobre-nosotros' },
  { name: 'Servicios', href: '/servicios' },
  { name: 'Proyectos', href: '/proyectos' },
  { name: 'Blog', href: '/blog' },
  { name: 'Contacto', href: '/contacto' },
];

const { logo, logoDark, email, instagram } = Astro.props;

const { pathname } = Astro.url;
const hash = typeof window !== 'undefined' ? window.location.hash : ''; // Obtener el hash si existe
const isHomePage = Astro.url.pathname === '/';
---

<nav class="text-gray-900 px-4">
  <div class="max-w-7xl mx-auto flex justify-between items-center">
    <button
      id="burger-btn"
      class="md:hidden p-2 rounded-md focus:outline-none text-white cursor-pointer"
      aria-label="Toggle Menu"
    >
      <Burger />
    </button>

    <!-- Links para escritorio -->
    <ul class="hidden md:flex space-x-8">
      {
        !isHomePage && (
          <LinkMenu
            link="/"
            isActive={pathname === '/'}
            text="Inicio"
            isMobile={false}
          />
        )
      }

      {
        links.map((link) => {
          const isActive = pathname + hash === link.href;

          if (isHomePage && link.href === '#Services') {
            return (
              <LinkMenu
                link={link.href}
                isActive={isActive}
                text={link.name}
                isMobile={false}
              />
            );
          }
          // Si no estás en la página principal y es el link a proyectos o Services, muestra 'Inicio'
          else if (!isHomePage && link.href === '#Services') {
            return (
              <LinkMenu
                link="/"
                isActive={isActive}
                text="Home"
                isMobile={false}
              />
            );
          }
          // En otras páginas, oculta el enlace de Services
          else if (!isHomePage && link.href === '#Services') {
            return null;
          }

          return (
            <DropdownMenu link={link} isActive={isActive} isMobile={false} />
          );
        })
      }

      <!-- <div>
        <ButtonLink
          text="Creemos Juntos"
          href={`https://wa.me/573143935605?text=Hola%2C%20me%20gustaría%20recibir%20más%20información%20sobre%20Creemos%20Juntos%20Mi%20Proyectos.`}
          target="_blank"
          aria-label="Creemos Juntos"
          className="lg:py-3 lg:px-3 rounded-xl transition-all duration-300 hover:scale-105 shadow-lg lg:text-[16px]"
        />
      </div> -->
    </ul>

    <!-- Menú lateral para móviles -->
    <div
      id="mobile-menu"
      class="md:hidden fixed inset-y-0 left-0 w-72 bg-primary text-white transform -translate-x-full transition-transform duration-300 ease-in-out z-50 min-h-dvh pt-3"
    >
      <div class="p-4 flex justify-between">
        <Image
          src={logoDark}
          alt={'Logo Arkava'}
          class="w-[110px]"
          width={100}
          height={100}
          loading="lazy"
        />
        <span
          id="close-menu"
          class="cursor-pointer hover:scale-110 transition-transform duration-500 ease-in-out top-[5px] relative"
        >
          <Close width={32} height={32} />
        </span>
      </div>
      <ul class="flex flex-col py-4 mt-4">
        {
          !isHomePage && (
            <LinkMenu
              link="/"
              isActive={pathname === '/'}
              text="Inicio"
              isMobile={true}
            />
          )
        }
        {
          links.map((link) => {
            const isActive = pathname + hash === link.href;
            if (
              isHomePage &&
              (link.href === '#Projects' || link.href === '#Services')
            ) {
              return (
                <LinkMenu
                  link={link.href}
                  isActive={isActive}
                  text={link.name}
                  isMobile={true}
                />
              );
            }
            // Si no estás en la página principal y es el link a proyectos o creatividad, muestra 'Inicio'
            else if (!isHomePage && link.href === '#Services') {
              return (
                <LinkMenu
                  link="/"
                  isActive={isActive}
                  text="Inicio"
                  isMobile={true}
                />
              );
            }
            // En otras páginas, oculta el enlace de Services
            else if (!isHomePage && link.href === '#Services') {
              return null;
            }
            // Mostrar otros enlaces normalmente
            else {
              return (
                <DropdownMenu link={link} isActive={isActive} isMobile={true} />
              );
            }
          })
        }
      </ul>

      <div
        class="w-full flex gap-7 absolute bottom-6 left-0 right-0 mx-auto justify-center"
      >
        <a href={instagram} title="comfortdesign.med" target="_blank">
          <Instagram height="42px" width="42px" />
        </a>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const burgerBtn = document.getElementById('burger-btn');
      const mobileMenu = document.getElementById('mobile-menu');
      const closeMenu = document.getElementById('close-menu');
      const linkMobile = document.querySelectorAll('.link-mobile');

      const toggleMenu = (menu: any) => {
        menu.classList.toggle('-translate-x-full');
        menu.classList.toggle('translate-x-0');
      };

      burgerBtn?.addEventListener('click', () => toggleMenu(mobileMenu));
      closeMenu?.addEventListener('click', () => toggleMenu(mobileMenu));
      linkMobile.forEach((link) => {
        link.addEventListener('click', () => {
          toggleMenu(mobileMenu);
        });
      });
    });
  </script>
</nav>
