---
import Title from '@/components/atoms/Title.astro';
import Section from '@/components/atoms/Section.astro';

type Project = {
  slug: string;
  title: string;
  description: string;
  coverImage: {
    url: string;
  };
};

const { data } = Astro.props;
const { titleProyectHome, subtitle, description, projects } = data;
---

<Section style="h-auto bg-[#f8f8f8] flex items-center justify-center flex-col">
  <Title title={titleProyectHome} style="mb-8 text-black" />
  <h3>{subtitle}</h3>
  <p class="font-helvetica text-gray-800">{description}</p>

  <div
    class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 mt-8 h-[70vh]"
  >
    {
      projects.map((project: Project) => {
        return (
          <a href={`/proyectos/${project.slug}`} class="h-full relative">
            <h4 class="absolute top-6 left-4 text-center text-white text-xl font-pp-sans">
              {project.title}
            </h4>
            {/* <p>{project.description}</p> */}
            <img
              src={project.coverImage.url}
              alt={project.title}
              class="h-full w-full object-cover transition-all duration-300 cursor-pointer"
              loading="lazy"
              decoding="async"
            />
          </a>
        );
      })
    }
  </div>
</Section>
