---
import Title from '@/components/atoms/Title.astro';
import Section from '@/components/atoms/Section.astro';
import ProjectsCarousel from '../molecules/ProjectsCarousel.jsx';

const { data } = Astro.props;
const { titleProyectHome, subtitle, description, projects } = data;
---

<Section
  style="bg-primary flex flex-col lg:flex-row items-center justify-center lg:!px-0 !py-0 h-auto lg:h-[60vh] xl:h-[70vh] 2xl:h-[75vh]"
>
  <!-- <div class="lg:w-[30%] w-[90%] flex flex-col items-center relative h-full w-full lg:w-1/3 flex flex-col justify-center px-8 lg:px-16 py-16 space-y-6">
    <div class="lg:absolute right-0 -top-4 w-full z-10">
      <Title title={titleProyectHome} style="text-4xl lg:text-6xl font-bold leading-tight z-10 relative" />
      <p class="mt-4 text-gray-300 text-sm lg:text-base max-w-xs">{description}</p>
    </div>
  </div> -->

  <div
    class="w-full lg:w-1/3 flex flex-col justify-center px-8 xl:px-16 space-y-6"
  >
    <div class="lg:pl-[20%] xl:pl-[30%] text-center lg:text-left mt-10 lg:mt-0">
      <h2
        class="text-3xl md:text-5xl lg:text-7xl 2xl:text-8xl lg:font-bold z-10 relative text-white lg:tracking-wider lg:leading-none lg:text-shadow-lg font-pp-sans"
      >
        {titleProyectHome}
      </h2>
      <p
        class="mt-4 text-gray-300 text-base lg:max-w-xs font-helvetica md:w-[70%] lg:w-full mx-auto"
      >
        {subtitle}
      </p>
      <a
        href="/proyectos"
        class="bg-tertiary hover:bg-tertiary/80 text-white font-semibold py-2.5 px-5 rounded-md shadow w-fit flex m-auto mt-4 lg:mt-8 lg:mx-0"
      >
        Ver proyectos
      </a>
    </div>
  </div>

  <div
    class="lg:w-[70%] w-[100%] flex h-[40vh] lg:h-full mt-8 lg:mt-0 overflow-hidden"
  >
    <ProjectsCarousel projects={projects} client:only="react" />
  </div>
</Section>
