---
import Analytics from '@vercel/analytics/astro';
import SpeedInsights from '@vercel/speed-insights/astro';
import Header from '@components/organisms/Header.astro';
import Footer from '@components/organisms/Footer.astro';
import WhatsappHome from '@/components/atoms/WhatsappHome.astro';
import getGeneralPage from '@/lib/hygraph/queries/getGeneralPage';
import '@styles/global.css';
import '@styles/fonts.css';

const generalInfoArkava = await getGeneralPage();

const { title = 'Arkava' } = Astro.props;

const headerInfo = {
  logo: generalInfoArkava?.logo?.url,
  title: generalInfoArkava?.title,
  logoDark: generalInfoArkava?.logoDark?.url,
  instagram: generalInfoArkava?.urlInstagram,
  whatsapp: generalInfoArkava?.whatsapp,
  email: generalInfoArkava?.email,
};
---

<html lang="es-CO">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta property="og:image" content="/og-image.jpg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content={'Isa Corrales - CEO Arkava'} />
    <meta name="publisher" content="Arkava" />
    <meta name="description" content="" />
    <title>{title}</title>
  </head>
  <body class="min-h-dvh bg-white antialiased font-pp-sans">
    <Header headerInfo={headerInfo} />
    <WhatsappHome wtNumber={headerInfo.whatsapp} />
    <Analytics />
    <SpeedInsights />
    <slot />
    <Footer headerInfo={headerInfo} />
  </body>
</html>
